<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<head>
<title><ui:insert name="pageTitle">JSF Form Page</ui:insert></title>
</head>
<body>
	<ui:composition template="/layouts/commonLayout.xhtml">

		<ui:define name="content">
			<center>
				<h:form id="form1">
					<h:outputText value="First Name: " />
					<h:inputText value="#{user.firstName}" />
					<br />
					<br />
					<h:outputText value="Last Name: " />
					<h:inputText value="#{user.lastName}" />
					<br />
					<br />
					<h:commandButton action="#{formController.onSubmit(user)}"
						value="Submit" />
					<h:messages />
				</h:form>
			</center>
		</ui:define>

	</ui:composition>
</body>
</html>
