@charset "ISO-8859-1";
html, body {
  height: 100%;
  margin: 0;
}
#page {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 10.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10.5rem;
}
