<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <head>
        <title><ui:insert name="pageTitle">Bible Rest API Test Client</ui:insert></title>
    </head>
    <body>
        <div class="card">
            <center>
                <h1>Welcome to Bible Rest API Test Client</h1>
                <br />
                <br />
                Results:<br />
                <textarea cols="100" rows="10" id="messagearea"></textarea><br /><br />
                Enter a word to search for the first occurrence in the bible:<br /><br />
                <input type="text" id="word" name="word"></input><br /><br />
                <button onclick="loadBibleData();">Get Bible Verse</button><br />
            </center>
        </div>
        
        
        <script type="text/javascript">
            //<![CDATA[
                var xhttp1;
                xhttp1 = new XMLHttpRequest();
                xhttp1.onreadystatechange = function()
                {
                    if (this.readyState === 4 && this.status === 200)
                    {
                        document.getElementById("messagearea").innerHTML = this.responseText;
                    }
                };

            function loadBibleData() 
            {
                
                var x = "http://localhost:8080/BibleRestAPI/rest/bible/firstverse/" + document.getElementById("word").value;
                
                document.getElementById("messagearea").innerHTML = x;
                
                xhttp1.open("GET", x, true);
                xhttp1.send();
            }
            //]]>
        </script>
        
    </body>
</html>