<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title><ui:insert name="pageTitle">JSF Response Page</ui:insert></title>
    </h:head>
    <h:body>

        <ui:composition template="/layouts/commonLayout.xhtml">
            <ui:define name="content">
                <center>
                    <h1>Response Page</h1>
                    <br />
                    <p>Hello #{user.firstName}, Your orders are:</p>
                    <br />

                    <h:dataTable value="#{formController.service.orders}" var = "order"
                                 styleClass = "IceCreamOrdersTable"
                                 headerClass = "IceCreamOrdersHeader"
                                 rowClasses = "IceCreamTableRowOdd, IceCreamTableRowEven">

                        <h:column>
                            <f:facet name = "header">Order Number</f:facet>
                                #{order.orderNumber}
                        </h:column>

                        <h:column>
                            <f:facet name = "header">Product Name</f:facet>
                                #{order.productName}
                        </h:column>

                        <h:column>
                            <f:facet name = "header">Price</f:facet>
                                #{order.price}
                        </h:column>

                        <h:column>
                            <f:facet name = "header">Quantity</f:facet>
                                #{order.quantity}
                        </h:column>

                    </h:dataTable>
                    <br />
                    <h:form id="form1">
                        <h:commandButton id="back" value="Return Login" action="faces/TestForm.xhtml" />
                    </h:form>
                </center>
            </ui:define>
        </ui:composition>

    </h:body>
</html>
