<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title><ui:insert name="pageTitle">JSF Login Form</ui:insert></title>
    </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">

            <ui:define name="content">
                <div align="center"> 
			<form  method="post" action="j_security_check">
				Username: <h:inputText id="j_username" autocomplete="off" /><br/>
				Password: <h:inputSecret id="j_password" autocomplete="off" /><br/>
				<h:commandButton type="submit" value="Submit" />
			</form>
		</div>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
