@charset "ISO-8859-1";
html, body {
  height: 100%;
  margin: 0;
}

#page {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 10.5rem;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
.blog-table {
	border: 1px black solid;
}
.blog-table-header {
	height: 50px;
	background: #AAA;
	font-weight: bold;
}
.blog-table-row-odd {
	background: #EEE;
}
.blog-table-row-even {
	background: white;
}

