<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<head>
<title><ui:insert name="pageTitle">JSF Response Page</ui:insert></title>
</head>
<body>
<h1>Response Page</h1>
<p>Hello #{user.firstName}, I hope you are doing well.</p>
<p>I believe your last name is #{user.lastName}</p>
</body>
</html>
